<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/mattp90/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="mattp90" />
			<!--reminder to edit github api before create nugetpkg file-->
			<add key="ClearTextPassword" value="GITHUBAPI" />
		</github>
	</packageSourceCredentials>
</configuration>